---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)



@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "typeahead"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand{
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}


.header-container {
  background-color: black;
  background: url('../img/bg.jpg') no-repeat 50% 0;
  background-position: bottom;
  color: #444;

  h1 {
    color: #666;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -37px;
}
.navbar-container {
  font-size: 16px;
}
.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback{
  top:10px
}

.jumbotron .container {
  position:relative;
}

@supports (-ms-ime-align:auto) {
  .jumbotron .container {
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 80px 30px rgba(255,255,255,0.9);
  }
}

.jumbotron .container p,h1,h6 {
  z-index:1;
  position:relative;
}

.jumbotron .container::before {
  content:"";
  position:absolute;
  left:-3%;
  top:-5%;
  width:106%;
  height:100%;
  z-index:1;
  filter: url(#filter);
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 80px 30px rgba(255,255,255,0.9);
  border-radius: 15px;
}

p {
  filter: unset;
  font-size: 14px;
}